{% extends 'base.html.twig' %}

{% block content %}
    <h1>Creació de Tasques</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn" />
    {{ form_end(form) }}

    <div>
        <a href="{{ path('tasques_index') }}">Tornar a la llista</a>
    </div>
{% endblock %}
