{% extends 'base.html.twig' %}

{% block content %}
    <h1>Creació d'Usuari</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn"/>
    {{ form_end(form) }}


    <a href="{{ path('usuaris_index') }}">Tornar a la llista</a>

{% endblock %}
