<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detall article</title>
</head>
<body>
    <h1>Detall article</h1>
    <p>Nom: {{nom}}</p>
    <p>Preu: {{preu}}</p>
</body>
</html>