/* GENERIC */

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* NAV */

nav {
    height: 100%;
}


/* FORMS */

input {
    border-radius: 5px;
}

/*TABLES*/

#table-llista {
    background-color: azure;
}

table,
tr,
td {
    padding: 5px;
}
