<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="/Symfony/SymfonyPets/web/app_dev.php/formLogin">Form Login</a><br/>
    <a href="/Symfony/SymfonyPets/web/app_dev.php/formTasques">Form Tasques</a><br/>
    <a href="/Symfony/SymfonyPets/web/app_dev.php/formSubtasques">Form Subtasques</a><br/>
    <a href="/Symfony/SymfonyPets/web/app_dev.php/formUsuaris">Form Registre usuari</a><br/>
</body>
</html>
