<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   {{form_start(form, {'action':'', 'method':'GET'})}}
    <h1>{{ titol }}</h1>
    {#{{ form }}#}
    
    {{form_end(form)}}
</body>
</html>