{% extends 'base.html.twig' %}

{% block content %}
    <h1>Creació de Subtasca</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn"/>
    {{ form_end(form) }}

    <div>
        <a href="{{ path('subtasques_llista') }}">Tornar a la llista</a>
    </div>
{% endblock %}
